# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java


Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy

| Data Science Tools |
| ---     |
| RStudio |
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

** Objectives **
* Python: intuitive syntax, large number of resources, extensive libraries for data analysis, visualization and machine learning.
* R: data mining and statistical analysis capabilities, robust support community.
* SQL: crucial for querying data and managing databases.
* Javascript: beneficial for advanced data visualization.
* Java

## Author
   Mazen